################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuoiTH1/.vs/BuoiTH1
/.vs
